.work-details{
    width:50%;
    flex: right;
}

img {
    max-width: 100%;
    max-height: 100%;
}

work-details{
    max-width: 100%;
    max-height: 100%;
}
col-md-8{
    max-width: 100%;
    max-height: 100%;
}