.form-control-lg {
  border-radius: 25px;
}

input[type="text"]:focus {
  border-radius: 25px;
  border-color: #ef6c00;
}

#submitButton:hover {
  color: #ffffff;
  cursor: alias;
  background: #ef6c00;
}
.form-control-lg:hover {
  border-color: #ef6c00;
  color: #ef6c00;
  border-style: solid;
  border-width: medium;
}
