.damn1 {
  margin-top: 5%;
  margin-bottom: 1%;
}
.damn {
  width: 65%;
  margin-left: 18%;
  padding-bottom: 5%;
  /*background-image: url('water.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

.damn input {
  border: 1px #333;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  width: 40%;
}

.form-control-lg {
  border-radius: 25px;
}

input[type="text"]:focus {
  border-color: #ff3300;
}

#submitButton {
  background: #ff3300;
  color: #ffffff;
}

#submitButton:hover {
  color: #ffffff;
  cursor: alias;
  background: #ff3300;
}
.form-control-lg:hover {
  border-color: #ff3300;
  color: #ff3300;
  border-style: solid;
  border-width: medium;
}

@media screen and (max-width: 800px) {
  .form-control-lg,
  .damn input,
  .damn {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  
}
