.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #F8F9FA;
  color: gray;
}

.footer i {
  font-size: 28px;
}
.footer .social {
  background: none;
}

.footer .social a {
  background: none;
}

.footer .social i {
  border: 0px;
  padding: 5%;
  align-content: center;
  margin: 2%;
  border-radius: 25%;
  color: #FF3300;
  background: #F8F9FA;
}

.footer .social i:hover {
  color: red;
}

.footer form {
  margin-top: 10%;
}
/* 
.footer form .row .col-md-4 {
  margin-left: -11%;
} */
.inputgroup{
  width: 100%;
}
.email{
width: 70%;
}
.submit{
  color: #C1C7C7;
width: 30%;
}
.footer ul li,
.footer a {
  color: gray;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}
/* .col1 {
  width: 75%;
  margin-right: 0ch;
}

.col2 {
  width: 25%;
  margin-left: 0ch;
  float: left;
} */
