.navbar-brand {
  margin-left: 10%;
  margin-right: 5%;
}
nav ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 2%;
  padding-left: 40px;
}

#navbarSupportedContent {
  transform: translateX(0%);
}

nav #navbarSupportedContent form ul {
  margin-left:-60%;
}


@media only screen and (max-width: 600px) {
  .navbar-brand {
    margin-left: 3%;
  }
  .navbar-toggler{
    margin-right: 5%;
  }
  .form-inline{
    height: 0ch;
  }
}

.btn-danger{
  background: #FF3300;
}
#callforphone{
  margin-right: 0cm;
  color: #FF3300;
}